<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>

    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
        <listeners>
            <add name="eMadbatahRollingFlatFileListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" formatter="eMadbataLogFormatter" rollInterval="Day" traceOutputOptions="LogicalOperationStack, DateTime, Callstack" fileName="_logs\main-rolling.log" />
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Category: {category}  - Priority: {priority} - Title:{title}{newline}&#xA;Message: {message}{newline}" name="eMadbataLogFormatter" />
        </formatters>
        <categorySources>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="eMadbatahRollingFlatFileListener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events">
                <listeners>
                    <add name="eMadbatahRollingFlatFileListener" />
                </listeners>
            </allEvents>
            <notProcessed switchValue="All" name="Unprocessed Category">
                <listeners>
                    <add name="eMadbatahRollingFlatFileListener" />
                </listeners>
            </notProcessed>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="eMadbatahRollingFlatFileListener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
        <add name="ADConnectionString" connectionString="LDAP://develop.tayait.com/CN=Users,DC=develop,DC=tayait,DC=com" providerName="" />
        <add name="EMadbatahEntities" connectionString="metadata=res://*/EMadbatahEntities.csdl|res://*/EMadbatahEntities.ssdl|res://*/EMadbatahEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.91;Initial Catalog=EMadbatah2;Persist Security Info=True;User ID=emadbatahuser;Password=emadbatahuserpass;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        <add name="FNCDBEntities" connectionString="metadata=res://*/EP.csdl|res://*/EP.ssdl|res://*/EP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.90;Initial Catalog=FNCDB;User ID=EparMadbtah;Password=eparmadbtah;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        <add name="FNCDBConn" connectionString="Data Source=192.168.0.90; Initial Catalog=FNCDB;User ID=EparMadbtah;Password=eparmadbtah;Trusted_Connection=false" providerName="System.Data.SqlClient" />

        <!--EPARLAMENT-SRV1-->
    </connectionStrings>



    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="" culture="" uiCulture="" enableClientBasedCulture="false" responseHeaderEncoding="utf-8" resourceProviderFactoryType="" enableBestFitResponseEncoding="false" />
        <!--next added by usama for tuning-->

        <httpRuntime maxRequestLength="102400" executionTimeout="3600" minLocalRequestFreeThreads="304" minFreeThreads="352" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

</configuration>
